.page {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    font-family: Helvetica;
}

.contenido {
    width: 1080px;
    display: flex;
}

.texto {
    font-size: 25px;
    margin: 15px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.imagen {
    float: right;
    margin: 0 25px;
}

.imagen img {
    height: 550px;
    width: auto;
}