.page {
    background-color: rgba(248, 250, 255, 0.39);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    font-family: "Raleway";
    font-size: 20px;
    margin: 0;
}

.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
}

h2 {
    font-weight: 400;
    margin: 15px 0 -20px 0;
    text-decoration: underline;
}

.titulo-lorural {
    font-family: "Kaushan Script", "Raleway";
    font-size: 7rem;
    margin: 0;
}

.galeria {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 1200px;
}

.galeria-foto {
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    height: 400px;
    width: 100%;
}

.galeria-foto.reverse {
    flex-direction: row-reverse;
}

.texto {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 15px;
}

.galeria-foto img {
    max-height: 800px;
    object-fit: cover;
}