header {
    background-color: aqua;
    width: 100%;
    display: flex;
    justify-self: flex-start;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 25px;
}