header {
    background-color: lightblue;
    width: 100%;
    display: flex;
    justify-self: flex-start;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 25px;
    gap: 15px;
}

.a-div {
    width: 120px;
    height: 40px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}