@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kaushan+Script&display=swap');

main {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 35px;
}

.titulo-div {
    background-color: grey;
    display: flex;
    justify-content: center;
    width: 70%;
    position: relative;
    width: 1200px;
    height: 600px;
}

.titulo-texto {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family: Helvetica;
    height: 450px;
    width: 380px;
    position: absolute;
    left: 130px;
    top: 130px;
    z-index: 1;
}

.titulo-texto h1 {
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
    transform: rotate(5deg);
}

.wrapper {
    width: 500;
    padding: 0 2rem;
    height: 100%;
    padding: 0 2rem;
    text-align: absolute;
    z-index: 3;
    right: 1200px;
    top: 200px;
}

