main {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 35px;
    object-fit: cover;
}

.titulo-div {
    display: flex;
    justify-content: center;
    width: 70%;
    position: relative;
    width: 1200px;
    height: 600px;
}

.titulo-texto {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: Helvetica;
    height: 400px;
    width: 380px;
    position: absolute;
    left: 130px;
    top: 50px;
    z-index: 1;
}

.titulo-texto h1 {
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
    transform: rotate(5deg);
}

.wrapper {
    width: 70%;
    max-width: 700px;
    padding: 0 2rem;
    height: 100%;
    padding: 0 2rem;
    position: absolute;
    z-index: 3;
    left: 600px;
    }

